<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/bootstrap.min.css" rel="stylesheet">
		<link href="/bootstrap.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
		
		<title>SYTW1 | Twitter</title>
	</head>
	<body>
		<div id="cabecera">
	 			<h1><img src="http://img1.wikia.nocookie.net/__cb20110512040338/kimpossible/images/thumb/1/11/Twitter_bird_icon.png/480px-Twitter_bird_icon.png" WIDTH=100 HEIGHT=100 />
	 			<b>Bienvenido.</b></h1>
	 	</div>
	 	
	 	<div id="re">


		 	<form action="/" method="post">
		   		<p center>Introduzca un usuario de twitter:  

		   		<div class="input-group">
				  <span class="input-group-addon">@</span>
				  <input type="text" name="firstname" value="" class="form-control" placeholder="Username" autofocus>
				</div>

				</p>

		   		<br>
		   		<button type="submit" class="btn btn-default">Submit</button>
		 	</form>
	 	</div>
 		
 		<div id="izquierda">
			<% if @name == ''%>
				<p id="warning"> No se ha introducido usuario o es incorrecto </p>
			<%else%>
				<p><b> Usuario @<%= @name %> </b></p>
				<img src="<%= @pic %>"/>
				<p>
						Sus últimos 10 amigos ordenados por popularidad son:
						<ol>
							<% @usuarios.each { |user, count| %>
								<li><%= user %> : <%= count %> <br></li>
							<% } %>
						</ol>
					</p>
			<%end%>
		</div>	
	</body>
</html>
